.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* My styles for components */
/* New css file for each component */

#playgame-component {
  background-color: rgb(51, 146, 153);
}

.startButton.ui.button {
  margin-left: 4%;
}

#game-data-input {
  display: block;
  margin: 10px 0px;
}


.activeOption.option.ui.button, .activeOption.option.ui.button:hover {
  background-color: #37E6FE;
}
.correctOption.option.ui.button, .correctOption.option.ui.button:hover{
  background-color: greenyellow;
}
.incorrectOption.option.ui.button, .incorrectOption.option.ui.button:hover{
  background-color: red;
}