.App {
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* My styles for components */
/* New css file for each component */

#home-component {
  background-color: rgb(136,199,71);
}

#playgame-component {
  background-color: rgb(51, 146, 153);
}

.edit-game {
  display: flex;
}

.startButton.ui.button {
  margin-left: 4%;
}

.edit-question {
  margin: 50px;
}

.game-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  font-size: 3em;
}