.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* My styles for components */
/* New css file for each component */

#home-component {
  background-color: rgb(136,199,71);
}

#playgame-component {
  background-color: rgb(51, 146, 153);
}

.startButton.ui.button {
  margin-left: 4%;
}

#game-data-input {
  display: block;
}

.gd-div {
  margin: 0px 25px;
}
